//all sizes are in pixels
//size of the battlefield --- "bf width height tileSize"
bf 640 480 40
//define walls (non breakable) --- "w width height locationx locationy"
wl 160 240 0 3
wr 160 240 12 3
wd 640 120 0 9
//define breakable walls --- "bw width height locationx locationy"
b 40 40 2 2
b 40 40 13 2
//define lazarus position
l 40 40 8 8